<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dolphin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Ishiiruka.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>discio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>inputcommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>uicommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>videocommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>videoogl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>videosoftware.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA6FC0AA1ED3511300E3AD69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA290A01ED73BD400F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA294241ED774AE00F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA2954C1ED799FF00F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA2957B1ED79B9500F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA295A21ED79C7600F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA295C71ED79D1C00F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA296711ED8605D00F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA298921ED8875900F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA298A81ED88A1600F8CE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
