[Desktop Entry]
Version=1.0
Icon=ishiiruka
Exec=ishiiruka
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Faster Project M
GenericName=Wii/GameCube Emulator
Keywords=ProjectM;Project M;ProjectPlus;Project Plus;Project+
Comment=A Wii/GameCube Emulator
